
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb

Data.zip

Data/1973Data.txt
Data/1974Data.txt
Data/1975Data.txt
Data/1976Data.txt
Data/1977Data.txt
Data/1978Data.txt
Data/1979Data.txt
Data/1980Data.txt
Data/1981Data.txt
Data/1982Data.txt
Data/1983Data.txt
Data/1984Data.txt
Data/1985Data.txt
Data/1986Data.txt
Data/1987Data.txt
Data/1988Data.txt
Data/1989Data.txt
Data/1990Data.txt
Data/1991Data.txt
Data/1992Data.txt
Data/1993Data.txt
Data/1994Data.txt
Data/1995Data.txt
Data/1996Data.txt
Data/1997Data.txt
Data/1998Data.txt
Data/1999Data.txt
Data/2000Data.txt
Data/2001Data.txt
Data/2002Data.txt
Data/2003Data.txt
Data/2004Data.txt
Data/2005Data.txt
Data/2006Data.txt
Data/2007Data.txt
Data/2008Data.txt
Data/2009Data.txt
Data/2010Data.txt
Data/2011Data.txt
Data/2012Data.txt
Data/2013Data.txt
Data/2014Data.txt
Data/2015Data.txt
Data/2016Data.txt
Data/2017Data.txt
Data/2018Data.txt
Machine Learning/Obsidian.png
